name: Deploy to GitHub Pages

on:
  push:
    branches: [ main ]

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: barichello/godot-ci:4.2.1
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Export Templates
        run: |
          mkdir -p ~/.local/share/godot/export_templates/4.2.1.stable
          wget -q https://github.com/godotengine/godot/releases/download/4.2.1-stable/Godot_v4.2.1-stable_export_templates.tpz
          unzip -q Godot_v4.2.1-stable_export_templates.tpz
          mv templates/* ~/.local/share/godot/export_templates/4.2.1.stable/
          rm Godot_v4.2.1-stable_export_templates.tpz
          rm -rf templates

      - name: Build & Export
        run: |
          mkdir -p build_output
          # Export to index.html
          godot --headless --verbose --export-release "Web" build_output/index.html
          
          # COI Fix
          wget -q https://github.com/gzuidhof/coi-serviceworker/raw/master/coi-serviceworker.min.js -O build_output/coi-serviceworker.min.js
          sed -i 's|<head>|<head><script src="coi-serviceworker.min.js"></script>|g' build_output/index.html
          
          # NoJekyll for _ underscore folders
          touch build_output/.nojekyll

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: build_output

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
